<ion-header>
  <ion-toolbar color="primary">
    <ion-title>KYC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="currentUser.kycStatus==0">
    <h4 class="ion-margin">To access all the features of Nybor you need complete KYC</h4>
    <form [formGroup]="kycForm" (ngSubmit)="kycSubmit()">
      <ion-col>
        <ion-item lines='none'>
          <ion-label>Select Document</ion-label>
          <ion-select formControlName="kyc_document" name="kyc_document" placeholder="None">
            <ion-select-option *ngFor="let doc of kycDocuments; let i=index" value="{{doc.id}}" [selected]='i===0'>
              {{doc.documentType}} </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines='none'>
          <input #selectFile type="file" (change)="onFileChanged($event)" name="kycFile"
            accept="image/png, image/jpeg, image/jpg, .docx, application/pdf" />
          <input type="hidden" name="fileHidden" formControlName="fileInput" />

        </ion-item>
      </ion-col>


      <!-- <ion-col size="1.5" offset="4.5">
        <ion-button color="primary" (click)="doMediaCapture()" icon-start large round color="dark">VIDEO CAPATURE
        </ion-button>
      </ion-col> -->



      <ion-col size="1.5" offset="4.5">
        <ion-button class="ion-margin" color="primary" expand="block" type="submit" [disabled]="!kycForm.valid">Submit
        </ion-button>
      </ion-col>

    </form>
  </div>
  <div *ngIf="currentUser.kycStatus==1">
   <h3 class="ion-margin">
  KYC Verification Pending
   </h3> 
  </div>
  <div *ngIf="currentUser.kycStatus==2">
    <h3 class="ion-margin">
      KYC Verified Enjoy the Nybor Services
    </h3>
   
  </div>



</ion-content>