<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-menu menuId="first" side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <div *ngIf="enable" class="ion-text-wrap">
          {{userProfile.fullName}}
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-item (click)="editProfile()">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label>Edit Profile</ion-label>
      </ion-item>
      <ion-item (click)="changeMobileNumber()">
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-label>Change Mobile Number</ion-label>
      </ion-item>
      <ion-item (click)="updateKYC()">
        <ion-icon name="document-text-outline" slot="start"></ion-icon>
        <ion-label>KYC
          <ion-icon *ngIf='this.currentUser.kycStatus===1' color='primary' name="checkmark-done-circle-outline">
          </ion-icon>
          <ion-icon *ngIf='this.currentUser.kycStatus===2' color='warning' name="checkmark-done-circle-outline">

          </ion-icon>
        </ion-label>
      </ion-item>
      <!-- <ion-item *ngIf='this.currentUser.kycStatus==1 || this.currentUser.kycStatus==2 ' (click)="addFamily()">
        <ion-icon slot='start' name="person-add-outline"></ion-icon>
        <ion-label>Add Family Member</ion-label>
      </ion-item> -->

      <ion-item  (click)="family()">
        <ion-icon slot='start' name="people-outline"></ion-icon>
        <ion-label>Family</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="headset-outline" slot="start"></ion-icon>
        <ion-label>Contact us</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="help-outline" slot="start"></ion-icon>
        <ion-label>Help & Support</ion-label>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="power-outline" slot="start"></ion-icon>
        <ion-label>Log out</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" (click)="openSideMenu()">
        <ion-avatar *ngIf="enable" slot="start" class="avatar">
          <img *ngIf="profileImage" [src]="url+profileImage" alt="" />
          <img *ngIf="!profileImage && (gender=='male')" src="../../assets/user-avatar-male.png" alt="" />
          <img *ngIf="!profileImage && (gender=='female')" src="../../assets/ser-avatar-female.png" alt="" />
        </ion-avatar>
        <!-- <ion-icon *ngIf="!profileImage" slot="start" name="person-circle-outline"></ion-icon> -->
        <!-- <ion-icon size="large" slot="start" name="person-circle-outline" ></ion-icon> -->
        <!-- <ion-img src="../../assets/kohli.jpg" class="avatar"></ion-img> -->
      </ion-buttons>
      <ion-title>NYBOR</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-content padding>

    <div #map id="map"></div>

  </ion-content> -->
</div>