<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="headset-outline"></ion-icon>
      <ion-label>Contact us</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="help-outline"></ion-icon>
      <ion-label>Help & Support</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="logout()">
      <ion-icon slot="start" name="power-outline"></ion-icon>
      <ion-label>Log Out</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>
